<%- include('./partials/head.ejs') %>

<h3>You clicked on <%= query %></h3>

<div class="countries-grid">
    <% country.forEach(country => { %>
        <a href="/country?name=<%= country.name.common %>" class="country">
            <h2><%= country.name.common %></h2>
            <img class="country-flag" src="<%= country.flags.svg %>" alt="<% country.flags.alt %>">
        </a>
    <% }); %>
</div>


<form action="/search" method="get">
    <fieldset>
        <legend>Search for a country:</legend>
        <label for="name">Country</label>
        <input id="name" name="name" type="text" required>
        <button type="submit">Search</button>
    </fieldset>
</form>

<a href="/regions-page" >
    <p class="continents">Click here to search by region</p>
</a>

<%- include('./partials/foot.ejs') %>